@use "variables" as v;
@use "mixins" as m;

footer {
  background: v.$secondary-color;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;

  .home-page & {
    background: transparent;
  }
}
